@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding: 0;
}

body{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	line-height: 1.3em;
	font-size: 1em;
	background: url(velez.jpg) top repeat-x;
	}

.container{
	width: 80%;
	max-width: 1000px; /*le da un limite de tamaño al contenedor*/
	background: #ffffffe6;
	margin: 20px auto;
	border-radius: 5%;
}

header{
	width: 100%;
	float:left;
	background: 
}

header h1 img{
	width: 100px;
	margin-left: 20px;
	float: left;
}

header h2{
	float: right;
	font-size: 1.3em;
	margin-top: 110px;
	margin-right: 50px;
}

/*Menu Principal*/

nav{
	width: 100%;
	clear:both;
	padding: 10px 0px;
	margin-bottom: 50px;
}

nav ul{
	width: 100%;
	list-style: none;
	
}

nav ul li{
	text-align: center;
	width: 33.33%;
	float:left;
	background: #c2b114;
	padding: 10px 0px;
	border-right: 1px #fff solid;
	box-sizing: border-box; /*esto mete el borde dentro del elemento*/
}

/*la clase ultima quita el borde en el ultimo li para que quede bien*/
nav ul li.ultima{
	border-right: none;
}

nav ul li a:link, nav ul li a:visited{
	color:#fff;
	text-decoration: none;
	display: block;/*hace clickeable todo el boton y no solo el texto*/
}

nav ul li:hover, nav ul li.actual{
	background: #6b5808;
}

/*Fin de Menu Principal*/

/*Submenu*/

nav ul li ul{
	width: 333px;
	margin-top: 11px;
	position: absolute;
	display: none; /*para que no muestre los submenues*/
}

nav ul li:hover > ul{/*esto despliega los sub solo cuando paso el raton*/
	display: block;
}

nav ul li ul li{ /*refiere a los li desplegables*/
	width: 100%;
	border-bottom: 1px solid #fff;
	background: #a17d17;
}

aside{
	width: 30%;
	float: right;
	margin-left: 20px;
	margin-top: 20px;
}

aside article{
	width: 90%;
	margin-bottom: 50px;
	border-bottom: dotted 1px #5e5c5c;
	padding-bottom: 20px;
}
aside img{
	width: 210px;
	height: 210px;
}

section{
	padding: 20px;
}

section h1{
	font-size: 1.5em;
	margin-bottom: 1em;
}

section p{
	line-height: 1.5em;
}

section p img{
	
	width: 600px;
	height: 400px;
	margin: 10px 10px;
	border: 5px solid black; 
	
}

footer{
	width: 100%;
	clear:both;
	text-align: center;
	padding-bottom: 10px;
}

footer p{
	font-size: 0.8em;
	color: #645f60;
}

footer a:link footer a:visited{
	color: #645f60;
}

footer a:hover{
	text-decoration: none;
}